

body {
    background: url("backgroundHome.jpg");
    margin: 0;

}





h1 {
    margin:0;
    color:green;

}
header {
    background: url("detroit.jpg");
    text-align: center;
    opacity: 0.8;
    background-size: cover;

}
header a {
    color:black;
}







li {
    display: inline;
    padding: 0px 10px 0px 10px;
    font-family:Helvetica;
    font-size: 20px;

}


.content {
    margin-right: 800px;
    font-size: 46px;
    color:white;
    font-style: italic;

}

@media(min-width: 800px) {
    .content img {
        width: 500px;

        display: flex;
        margin-left: auto;
        position: fixed;
        top: 20%;
        left: 60%;

    }
}




.aboutMe {
    margin-right: 500px;
    font-size: 24px;
    color:white;
    font-style: italic;
}

h2 {
    color:red;
}
.aboutMe li {
    display: block;
}

.aboutMeBasic {
    background: url("red_wings.jpg");
}

input[type=text] {
    width: 20%;
}

.contact {
    background: url("golf.jpg");

}

#email {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    left: 40px;
}

#name {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    left: 40px;

}

#comment {
    width: 20%;
    padding: 150px 50px;
    margin: 8px 0;
    box-sizing: border-box;
    left: 40px;

}

#submitButton {
    border:none;
    color:red;
    width: 9em;  height: 2em;
    font-size: 20px;
}

#reset {
    border:none;
    color:red;
    width: 9em;  height: 2em;
    font-size: 20px;
}

.education {
    background: url("education.jpg");
}

.educationContent {
    margin-right: 1200px;
    font-size: 20px;
    color: white;
    font-style:italic;

}
@media(min-width: 800px) {
    .workExperience {

        font-size: 20px;
        color: white;
        font-style: italic;
        position: absolute;
        top: 8%;
        left: 40%;
        margin-right: 550px;
    }

    .resumeLink {
        font-style: italic;

        width: 500px;


        margin-left: auto;
        position: fixed;
        top: 10%;
        right: 1%;


    }
}




    a {
        color: white;
    }













