@charset "UTF-8";

html {
    background-color:green;

}


body {
    width: 1000px;
    margin: 1.5em auto;
    border-color: #D28700;
    border-style: solid;
    border-width: 20px;
    padding-left: 120px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 70px;
    background-image:url(freebg1.jpg);
    background-color: #34D266
}
h1 {
    text-align: center;
    background-color: white;
    color: #909;
}

h2 {
    padding: 7px;
    border-style:solid;
    background-color: white;
    padding-right: 50px;
    color: #FF6;
}

h3 {
    text-align: center;
    background-color: white;
    color: #909;

}

h4 {
    text-align: center;
    background-color: white;
    color: #909;


}


