body {



}







#recipe2 {
    text-align: center;
}

#instructions1 {
    margin: 0 auto;
    width: 400px;
    margin-left: 1em;
    font-family: Courier;
    padding-top: 10px;
    color:green;




}



#source1 {
    margin: 0 auto;
    width: 400px;
    margin-left: 1em;
    font-family: Courier;


}
a {
    margin: 0 auto;
    width: 400px;
    margin-left: 3.5em;
    font-family: Courier;
    padding-top: 40px;

}
#picture1 {

    border: 10px solid rgba(100, 100, 255, .5);
    width: 350px;
}


#picture2 {

    border: 10px solid rgba(100, 100, 255, .5);
    width: 350px;
    display: block;
    margin:0em auto;
}

#section2 {
    margin: -47.5em auto;
    text-align:center;


}

#instructions2 {
    width:400px;
    margin: 4em auto;
    margin-top: 20px;
    color:green;
    font-family: Courier;




}

#section3 {
    text-align: right;
    padding-right: 50px;
    margin: -25em auto;

}
#picture3 {
    width: 350px;
    border: 10px solid rgba(100, 100, 255, .5);
}

#instructions3 {
    width:400px;
    padding-left:1000px;
    color:green;
    font-family: Courier;

}









